{% extends 'main/base.html' %}

{% block title %}注册{% endblock %}

	{% block content %}
		<div class="content">
			<div class="login">
				<div class="login-header">
					<h2>注册</h2>
				</div>
				<form class="user-form" action="/register" method="post">{% csrf_token %}
					<div class="user-form-wrapper">
						<div class="user-form-head"><label for="id_username">用户名</label><span>*</span></div>
						<input type="text" name="username" id="username" />
					</div>
					<div class="user-form-wrapper">
						<div class="user-form-head"><label for="id_realname">真实姓名</label><span>*</span></div>
						<input type="text" name="realname" id="realname" />
					</div>
					<div class="user-form-wrapper">
						<div class="user-form-head"><label for="id_email">邮箱</label><span>*</span></div>
						<input type="email" name="email" id="email" />
					</div>
					<div class="user-form-wrapper">
						<div class="user-form-head"><label for="id_mobile">联系方式</label><span>*</span></div>
						<input type="text" name="mobile" id="mobile" />
					</div>
					<div class="user-form-wrapper">
						<div class="user-form-head"><label for="id_sex">性别</label><span>*</span></div>
						<select name="sex" id="sex">
							<option value="male">男</option>
							<option value="female">女</option>
						</select>
					</div>
					<div class="user-form-wrapper">
						<div class="user-form-head"><label for="id_password">密码</label><span>*</span></div>
						<input type="password" name="password" id="password" />
					</div>
					<div class="user-form-wrapper">
						<div class="user-form-head"><label for="id_signature">个性签名</label></div>
						<input type="text" name="signature" id="signature" />
					</div>
					<div class="user-form-wrapper">
						<div class="user-form-head"></div>
						<button type="submit">注册</button>
					</div>
					<!-- {% for field in form %}
					<div>
						<div>
							{{ field.label_tag }}
						</div>
						<div>
							{{ field }}
						</div>
					</div>
					{% endfor %} -->
				</form>
			</div>
		</div>
	{% endblock %}