<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>活动标题</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<div class="header">
		</div>
		<div class="content">
			<div class="activity">
				<div class="acvitity-header">
					<div class="activity-logo">
						<img width="200px" height="300px" src="img/act-logo.jpg" alt="活动" />
					</div>
					<div class="activity-info">
						<div class="activity-detail">
							<h1>维也纳“钢琴泰斗”——约尔格·德慕斯钢琴音乐会</h1>
							<p>时间: <span>12月04日 周五 19:30-21:30</span></p>
							<p>地点: <span>友谊广场</span></p>
							<p>类型: <span><a class="link" href="#">桌游</a></span></p>
						</div>
						<div class="activity-atract">
							<p><span><strong>11</strong>人感兴趣</span><span><strong>6</strong>人已报名</span></p>
							<div class="activity-atract-btns">
								<input class="activity-atract-btn" type="button" value="感兴趣" id="">
								<input class="activity-atract-btn" type="button" value="报名参加" id="">
							</div>
						</div>
					</div>
				</div>
				<div class="activity-description">
					<h2>活动描述</h2>
					<p>购票热线
82802188/82803288

武汉剧院票务咨询QQ群：254404649

网上订票

武汉演出网：www.whycw.com

官方淘宝店：http://shop114218606.taobao.com
（店铺名： 武汉剧院武演票务通）

官方微店：http://wd.koudai.com/s/261724840?wfr=c
演出时间：2015年10月9日 19：30
演出地点：武汉剧院
演出票价：100.150.200.280 85岁的音乐人生之旅
近一个世纪最杰出的钢琴大师之一
在国际舞台上的最年长的钢琴家之一
“维也纳学派三杰“之一 乐坛常青树
德奥乐派最权威的诠释者
拥有自己的“钢琴历史”博物馆

约尔格•德穆斯与保罗•巴杜拉-斯柯达、弗雷德里希•古尔达并称为“维也纳学派三杰”。他1928年12月2日出生于奥地利的圣波尔坦。他的母亲是一个音乐会小提琴手，而他的父亲奥托•德穆斯
教授，则是一位非常知名的音乐史学家。
约尔格•德穆斯6岁开始学习钢琴，11岁进入维也纳音乐学院。除了正常的高中课程，他还跟随沃尔特•克施鲍默学习钢琴、跟随卡...... 查看全部 »</p>
				</div>
			</div>
			<div class="participant">
				<h1>参与人员</h1>
				<ul>
					<li>
						<div class="participant-avatar">
							<a href="#">
								<img width="40px" height="40px" src="img/avatar.jpg" src="--" />
							</a>
						</div>
						<div class="participant-info">
							<p>张问 / 华中科技大学</p>
							<p><span>兴趣爱好</span> 三国杀 UNO</p>
							<p class="participant-info-signature"><span>个性签名</span> 这个网站真好用.....</p>
						</div>
					</li>
					<li>
						<div class="participant-avatar">
							<a href="#">
								<img src="img/avatar.jpg" src="--" />
							</a>
						</div>
						<div class="participant-info">
							<p>张问 / 华中科技大学</p>
							<p><span>兴趣爱好</span> 三国杀 UNO</p>
							<p class="participant-info-signature"><span>个性签名</span> 这个网站真好用.....</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer">
		</div>
	</body>
</html>