<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>活动标题</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<div class="header">
			<div class="header-left">
				<a class="header-logo" href="">
					<img width="60px" height="60px" src="img/logo.jpg" alt="logo" />
				</a>
				<div class="header-city">
					<span>武汉</span>
					<a href="">切换城市</a>
				</div>
			</div>
			<div class="header-right">
				{% if user.is_authenticated %} 
					<a class="header-avatar" href="">
						<img width="40px" height="40px" src="img/avatar.jpg" alt="avatar" />
					</a>
					<div class="header-username">{{user.username}}</div>
					<div class="header-btn">
						<a class="header-link" href="/logout">注销</a>
					</div>
				{% else %}
				 	<div class="">
						<a href="/login">[登入]</a>
					</div>
					<div class="">
						<a href="/register">[注册]</a>
					</div>
				{% endif %}
			</div>
			<div>
			</div>
		</div>
		
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>

		<div class="footer">
		</div>
	</body>
</html>