{% extends 'base.html' %}
{% block title%}
    index
{% endblock%}
{% block extracss %} 
{% load staticfiles %}
<link type="text/css" href="{% static "css/style.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="nav">
<center>
{% if user.is_authenticated %}
<a href="/blog/" id="c">Hello,{{user.username}}</a>
<a href="/blog/changepassword/{{user.username}}" class="a" id="e">Change password</a>
<a href="/blog/logout/" class="a" id="f">Logout</a>
<div id="div_5"><a href='/blog/post/{{user.username}}' class="b">Post your articles</a></div>
{% else %}
<a href="/blog/login/" id="b" class="a">Login</a>
<a href="/blog/register/" class="a" id="d">Register</a>
<input type="button" value="Pls log in to post" id="div_7" class="b"></center>
{% endif %}
</center>
</div>
<div id="div_1">
	<p class="p_1">Welcome to my Blog!</p>
	<center>
	<div id="div_2"></div>
	</center>
</div>
<center>
	<div id="div_3"></div>
</center>
<center>
<div id="div_4">
<span id="s_1">
	LATEST BLOG
</span>
<div id="content">
{% for item in bloglist %}
  {% if True %}
<div id="post-header">
  <h2 class="post-title">
		<a href="/blog/detail/{{ item.id }}">
	{{ item.title }}
    </a>
  </h2>
<div class="post-meta">
	    <span><a title="Post Date">POSTTime:{{ item.date|date:"Y-m-d H:i" }}</a></span>
      <span class="date-sep"> / </span>
            <span><a title="Start">start:{{ item.StartTime|date:"Y-m-d H:i" }}</a></span>
      <span class="date-sep"> / </span>
            <span><a title="End">end:{{ item.EndTime|date:"Y-m-d H:i" }}</a></span>
      <span class="date-sep"> / </span>
	    <span><a title="Post IP">{{ item.ip }}</a></span>
      <span class="date-sep"> / </span>
		  <span><a title="Post by">{{ item.author }}</a></span>
      <span class="date-sep"> / </span>
		  <br><span><a href="/blog/delete/{{ item.id }}/{{ user }}/" title="Only by the author"
      class="a_1">delete/</a></span>
		  <span><a href="/blog/join/{{ item.id }}/{{ user }}/" title="join now?"
      class="a_1">join?</a></span>
		  <br><span><p>{{ item.people }} people have joined in.</p></span>
</div>
</div>
<div class="post-content">
{{ item.content|truncatechars:300|safe|linebreaks }}
</div>
<div class="clear"></div>
{% endif %}
{% endfor %}
</div>
</center>
{% endblock %}
