{% extends 'main/base.html' %}

{% block title %}登录{% endblock %}

	{% block content %}
		<div class="content">
			<div class="login">
				<div class="login-header">
					<h2>登录</h2>
				</div>
				<form class="user-form" action="register/submit" method="post">{% csrf_token %}
					<div class="user-form-wrapper">
						<div class="user-form-head">用户名<span>*</span></div><input type="text" name="username" />
					</div>
					<div class="user-form-wrapper">
						<div class="user-form-head">密码<span>*</span></div><input type="password" name="password" />
					</div>
					<div class="user-form-wrapper">
						<div class="user-form-head"></div><button type="submit">登录</button>
					</div>
				</form>
			</div>
		</div>
	{% endblock %}