{% extends 'main/base.html' %}

{% block title%}主页{% endblock %}

	{% block content %}
		<div class="content">
			<div class="activity">
				<div class="activity-interest">
					<div class="activity-list-header">
						<h2>猜你感兴趣</h2>
					</div>
					<ul class="activity-list">
						<li class="activity-item">
							<div class="activity-item-logo">
								<img src="img/act-logo.jpg" alt="logo" />
							</div>
							<div class="activity-item-info">
								<div class="activity-item-name">
									<a href="#">三国杀</a>
								</div>
								<div class="activity-item-timestart">
									<span>开始时间:</span>
									2015年12月30日11:30
								</div>
								<div class="activity-item-timeend">
									<span>结束时间:</span>
									2015年12月30日14:30
								</div>
								<div class="activity-item-place">
									<span>地点:</span>
									光谷
								</div>
								<div class="avitivity-item-participants">
									<span>报名人数:</span>
									<strong>12</strong>
									<span>人</span>
								</div>
							</div>
						</li>
						<li class="activity-item">
							<div class="activity-item-logo">
								<img src="img/act-logo.jpg" alt="logo" />
							</div>
							<div class="activity-item-info">
								<div class="activity-item-name">
									<a href="#">三国杀</a>
								</div>
								<div class="activity-item-timestart">
									<span>开始时间:</span>
									2015年12月30日11:30
								</div>
								<div class="activity-item-timeend">
									<span>结束时间:</span>
									2015年12月30日14:30
								</div>
								<div class="activity-item-place">
									<span>地点:</span>
									光谷
								</div>
								<div class="avitivity-item-participants">
									<span>报名人数:</span>
									<strong>12</strong>
									<span>人</span>
								</div>
							</div>
						</li>
						<li class="activity-item">
							<div class="activity-item-logo">
								<img src="img/act-logo.jpg" alt="logo" />
							</div>
							<div class="activity-item-info">
								<div class="activity-item-name">
									<a href="#">三国杀</a>
								</div>
								<div class="activity-item-timestart">
									<span>开始时间:</span>
									2015年12月30日11:30
								</div>
								<div class="activity-item-timeend">
									<span>结束时间:</span>
									2015年12月30日14:30
								</div>
								<div class="activity-item-place">
									<span>地点:</span>
									光谷
								</div>
								<div class="avitivity-item-participants">
									<span>报名人数:</span>
									<strong>12</strong>
									<span>人</span>
								</div>
							</div>
						</li>
						<li class="activity-item">
							<div class="activity-item-logo">
								<img src="img/act-logo.jpg" alt="logo" />
							</div>
							<div class="activity-item-info">
								<div class="activity-item-name">
									<a href="#">三国杀</a>
								</div>
								<div class="activity-item-timestart">
									<span>开始时间:</span>
									2015年12月30日11:30
								</div>
								<div class="activity-item-timeend">
									<span>结束时间:</span>
									2015年12月30日14:30
								</div>
								<div class="activity-item-place">
									<span>地点:</span>
									光谷
								</div>
								<div class="avitivity-item-participants">
									<span>报名人数:</span>
									<strong>12</strong>
									<span>人</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="activity-nearby">
					<div class="activity-list-header">
						<h2>附近的活动</h2>
					</div>
					<ul class="activity-list">
						<li class="activity-item">
							<div class="activity-item-logo">
								<img src="img/act-logo.jpg" alt="logo" />
							</div>
							<div class="activity-item-info">
								<div class="activity-item-name">
									<a href="#">三国杀</a>
								</div>
								<div class="activity-item-timestart">
									<span>开始时间:</span>
									2015年12月30日11:30
								</div>
								<div class="activity-item-timeend">
									<span>结束时间:</span>
									2015年12月30日14:30
								</div>
								<div class="activity-item-place">
									<span>地点:</span>
									光谷
								</div>
								<div class="avitivity-item-participants">
									<span>报名人数:</span>
									<strong>12</strong>
									<span>人</span>
								</div>
							</div>
						</li>
						<li class="activity-item">
							<div class="activity-item-logo">
								<img src="img/act-logo.jpg" alt="logo" />
							</div>
							<div class="activity-item-info">
								<div class="activity-item-name">
									<a href="#">三国杀</a>
								</div>
								<div class="activity-item-timestart">
									<span>开始时间:</span>
									2015年12月30日11:30
								</div>
								<div class="activity-item-timeend">
									<span>结束时间:</span>
									2015年12月30日14:30
								</div>
								<div class="activity-item-place">
									<span>地点:</span>
									光谷
								</div>
								<div class="avitivity-item-participants">
									<span>报名人数:</span>
									<strong>12</strong>
									<span>人</span>
								</div>
							</div>
						</li>
						<li class="activity-item">
							<div class="activity-item-logo">
								<img src="img/act-logo.jpg" alt="logo" />
							</div>
							<div class="activity-item-info">
								<div class="activity-item-name">
									<a href="#">三国杀</a>
								</div>
								<div class="activity-item-timestart">
									<span>开始时间:</span>
									2015年12月30日11:30
								</div>
								<div class="activity-item-timeend">
									<span>结束时间:</span>
									2015年12月30日14:30
								</div>
								<div class="activity-item-place">
									<span>地点:</span>
									光谷
								</div>
								<div class="avitivity-item-participants">
									<span>报名人数:</span>
									<strong>12</strong>
									<span>人</span>
								</div>
							</div>
						</li>
						<li class="activity-item">
							<div class="activity-item-logo">
								<img src="img/act-logo.jpg" alt="logo" />
							</div>
							<div class="activity-item-info">
								<div class="activity-item-name">
									<a href="#">三国杀</a>
								</div>
								<div class="activity-item-timestart">
									<span>开始时间:</span>
									2015年12月30日11:30
								</div>
								<div class="activity-item-timeend">
									<span>结束时间:</span>
									2015年12月30日14:30
								</div>
								<div class="activity-item-place">
									<span>地点:</span>
									光谷
								</div>
								<div class="avitivity-item-participants">
									<span>报名人数:</span>
									<strong>12</strong>
									<span>人</span>
								</div>
							</div>
						</li>
					</ul>
				</div><div class="activity-old">
					<div class="activity-list-header">
						<h2>参与过的活动</h2>
					</div>
					<ul class="activity-list">
						<li class="activity-item">
							<div class="activity-item-logo">
								<img src="img/act-logo.jpg" alt="logo" />
							</div>
							<div class="activity-item-info">
								<div class="activity-item-name">
									<a href="#">三国杀</a>
								</div>
								<div class="activity-item-timestart">
									<span>开始时间:</span>
									2015年12月30日11:30
								</div>
								<div class="activity-item-timeend">
									<span>结束时间:</span>
									2015年12月30日14:30
								</div>
								<div class="activity-item-place">
									<span>地点:</span>
									光谷
								</div>
								<div class="avitivity-item-participants">
									<span>报名人数:</span>
									<strong>12</strong>
									<span>人</span>
								</div>
							</div>
						</li>
						<li class="activity-item">
							<div class="activity-item-logo">
								<img src="img/act-logo.jpg" alt="logo" />
							</div>
							<div class="activity-item-info">
								<div class="activity-item-name">
									<a href="#">三国杀</a>
								</div>
								<div class="activity-item-timestart">
									<span>开始时间:</span>
									2015年12月30日11:30
								</div>
								<div class="activity-item-timeend">
									<span>结束时间:</span>
									2015年12月30日14:30
								</div>
								<div class="activity-item-place">
									<span>地点:</span>
									光谷
								</div>
								<div class="avitivity-item-participants">
									<span>报名人数:</span>
									<strong>12</strong>
									<span>人</span>
								</div>
							</div>
						</li>
						<li class="activity-item">
							<div class="activity-item-logo">
								<img src="img/act-logo.jpg" alt="logo" />
							</div>
							<div class="activity-item-info">
								<div class="activity-item-name">
									<a href="#">三国杀</a>
								</div>
								<div class="activity-item-timestart">
									<span>开始时间:</span>
									2015年12月30日11:30
								</div>
								<div class="activity-item-timeend">
									<span>结束时间:</span>
									2015年12月30日14:30
								</div>
								<div class="activity-item-place">
									<span>地点:</span>
									光谷
								</div>
								<div class="avitivity-item-participants">
									<span>报名人数:</span>
									<strong>12</strong>
									<span>人</span>
								</div>
							</div>
						</li>
						<li class="activity-item">
							<div class="activity-item-logo">
								<img src="img/act-logo.jpg" alt="logo" />
							</div>
							<div class="activity-item-info">
								<div class="activity-item-name">
									<a href="#">三国杀</a>
								</div>
								<div class="activity-item-timestart">
									<span>开始时间:</span>
									2015年12月30日11:30
								</div>
								<div class="activity-item-timeend">
									<span>结束时间:</span>
									2015年12月30日14:30
								</div>
								<div class="activity-item-place">
									<span>地点:</span>
									光谷
								</div>
								<div class="avitivity-item-participants">
									<span>报名人数:</span>
									<strong>12</strong>
									<span>人</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="participant">
				<div class="participant-header">
					<h2>一起玩过的伙伴</h2>
				</div>
				<ul>
					<li>
						<div class="participant-avatar">
							<a href="#">
								<img width="40px" height="40px" src="img/avatar.jpg" src="--" />
							</a>
						</div>
						<div class="participant-info">
							<p>张问 / 华中科技大学</p>
							<p><span>兴趣爱好</span> 三国杀 UNO</p>
							<p class="participant-info-signature"><span>个性签名</span> 这个网站真好用.....</p>
						</div>
					</li>
					<li>
						<div class="participant-avatar">
							<a href="#">
								<img src="img/avatar.jpg" src="--" />
							</a>
						</div>
						<div class="participant-info">
							<p>张问 / 华中科技大学</p>
							<p><span>兴趣爱好</span> 三国杀 UNO</p>
							<p class="participant-info-signature"><span>个性签名</span> 这个网站真好用.....</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	{% endblock %}