* {
	font-family: Helvetica;
}

body {
}

.header {
	width: 100%;
	height: 60px;
	/line-height: 60px;
	vertical-align: middle;
	color: #d5d5d5;
	background-color: #545652;
	left: 0;
	top: 0;
	position: absolute;
	margin-bottom: 40px;
}

.header * {
	display: inline-block;
}

.header-left {
	float: left;
	margin-left: 20px;
	height: 60px;
}

.header-logo {
	width: 75px;
	height: 60px;
	margin-right: 20px;
}

.header-logo img {
	width: 75px;
	height: 60px;
	vertical-align: middle;
}

.header-city span {
	font-weight: bold;
	margin-right: 5px;
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
}

.triangle {
	border-width: 5px;
	border-style: solid;
	border-color: gray transparent transparent;
}

.header-right {
	float: right;
	height: 60px;
	margin-right: 20px;
}

.header-avatar {
	width: 40px;
	height: 40px;
	margin: 8px 5px 8px 0px;
	vertical-align: middle;
	border: 2px solid transparent;
	border-radius: 40px;
	overflow: hidden;
}

.header-avatar:hover {
	border: 2px solid rgba(162, 126, 64, 0.43);
}

.header-username {
	margin-right: 20px;
}

.header-btn {
	margin-right: 20px;
}

.header-link {
	font-family: Arial;
	font-weight: normal;
	text-decoration: none;
	margin: 0;
	padding: 5px;
	border: 2px solid transparent;
	border-radius: 4px;
	color: gray;
}

.header-link:link, .header-link:focus, .header-link:visited {
}

.header-link:hover {
	background: rgba(84, 86, 82, 0.8);
	border: 2px solid rgba(162, 126, 64, 0.43);
}

.link {
	/font-size: 12px;
	font-family: Arial;
	font-weight: normal;
	text-decoration: none;
}

.link:link, .link:focus, .link:visited {
	color: #37a;
}

.link:hover {
	background-color: #37a;
	color: #fff;
}

.content {
	margin: auto;
	margin-top: 100px;
	width: 950px;
}

.activity {
	float: left;
	width: 590px;
	margin-right: 40px
}

.acvitity-header {
	margin-bottom: 40px;
}

.activity-logo {
	float: left;
	margin-right: 20px;
	display: inline-block;
}

.activity-info {
	width: 330px;
	height: 300px;
	position: relative;
	display: inline-block;
}

.activity-detail {
	margin-bottom: 20px;
}

.activity-detail h1 {
	margin-top: 0;
	font-size: 22px;
	font-weight: bold;
	line-height: 1.4;
	word-break: break-all;
}

.activity-detail p {
	font-size: 14px;
	margin: 0px 0px 10px 0px;
	padding: 0;
	color: gray;
}

.activity-detail p span {
	color: black;
}

.activity-atract {
	font-size: 14px;
}

.activity-atract span {
	margin-right: 10px;
}

.activity-atract-btns {
	bottom: 0;
	position: absolute;
}

.activity-description {
}

.activity-description h2 {
	font-size: 20px;
}

.activity-description p {
	font-size: 14px;
}

.activity-interest, .activity-nearby, .activity-old {
	margin-bottom: 40px;
}

.activity-list-header {
	margin-bottom: 16px;
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
}

.activity-list-header h2 {
	font-size: 22px;
	margin: 10px 0px;
}

.activity-list {
	margin: 0;
	padding: 0;
}

.activity-item {
	list-style: none;
	width: 290px;
	margin-bottom: 10px;
	display: inline-block;
}

.activity-item-logo {
	float: left;
	margin-right: 10px;
}

.activity-item-logo img {
	width: 80px;
	height: 120px;
}

.activity-item-info {
	font-size: 13px;
}

.activity-item-name a {
	font-family: Arial;
	text-decoration: none;
}

.activity-item-name a:link, .activity-item-name a:focus, .activity-item-name a:visited {
	color: #37a;
}

.activity-item-name a:hover {
	background-color: #37a;
	color: #fff;
}

.activity-item-name, .activity-item-timestart, .activity-item-timeend, .activity-item-place {
	margin-bottom: 5px;
}

.participant {
	width: 320px;
	float: right;
}

.participant-header {
	margin-bottom: 16px;
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
}

.participant-header h2 {
	font-size: 22px;
	margin: 10px 0px;
}

.participant h1 {
	font-size: 22px;
}

.participant ul {
	margin: 0;
	padding: 0;
}

.participant ul li {
	list-style: none;
	padding: 10px 10px;
	border-bottom: 1px dotted #ddd;
}

.participant ul li:hover {
	background: #f9f9f6;
}

.participant-avatar {
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	margin-bottom: 5px;
	border-radius: 3px;
	overflow: hidden;
	display: inline-block;
}

.participant-avatar img {
	width: 40px;
	height: 40px;
}

.participant-info {
}

.participant-info p {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.participant-info span {
	margin-right: 5px;
	color: gray;
}

.participant-info-signature {
	clear: both;
}

.footer {
	width: 950px;
	margin: 0 auto;
}